.page {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #232321;
}

.page__body {
    position: relative;
    min-width: 980px;
    min-height: 900px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffe753;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.filters {
    padding: 15px 0;
    text-align: center;
}

.filters__item {
    padding: 0 16px;
    font-size: 18px;
    line-height: 30px;
    text-decoration: underline;
    cursor: pointer;
}

.filters__radio {
    position: absolute;
    right: -100px;
    left: -100px;
}

.filters__radio:checked+.filters__item {
    color: #000000;
    text-decoration: none;
    background: #ffffff;
    border-radius: 2px;
}

.upload-form {
    position: absolute;
    left: 50%;
    width: 582px;
    height: 569px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: -291px;
    padding: 0;
    background: url("../img/logo-background-1.jpg") center;
    border: 0;
}

.upload-image {
    position: relative;
    width: 582px;
    height: 569px;
    z-index: 1;
    background: url("../img/logo-mask.png") no-repeat center;
}

.upload-image__input {
    visibility: hidden;
}

.upload-image__label {
    display: block;
}

.upload-image__control {
    position: absolute;
    top: 193px;
    left: 202px;
    width: 182px;
    height: 182px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../img/icon-photo.png") center no-repeat;
    border: none;
    cursor: pointer;
}

.upload-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    border: none;
    overflow: auto;
}

.upload-effect {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.upload-effect__container {
    position: relative;
}

.upload-resize__controls {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    border: 0;
    transform: translateX(-50%);
}

.upload-resize__control {
    width: 33px;
    height: 33px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.56);
    border: 0;
}

.upload-resize__controls-value {
    width: 60px;
    font-size: 16px;
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 1px;
}

.upload-resize__controls-button:active {
    transform: translateY(1px);
}

.upload-resize__controls-button--dec {
    line-height: 20px;
    border-radius: 50% 0 0 50%;
}

.upload-resize__controls-button--inc {
    border-radius: 0 50% 50% 0;
}

.upload-form__preview-image {
    vertical-align: middle;
}

.upload-effect__controls {
    position: relative;
    width: 470px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    font-size: 12px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    border: 0;
}

.upload-effect__controls input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.upload-effect__label {
    display: inline-block;
    margin: 0 5px;
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.upload-effect__label:hover,
input[type=radio]:checked+.upload-effect__label {
    color: #ffe753;
}

input[type=radio]:checked+.upload-effect__label .upload-effect__preview {
    border-color: #ffe753;
}

.upload-effect__level {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 495px;
    height: 33px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 33px;
    transform: translateX(-50%);
}

.upload-effect__level-line {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 5px;
    background: rgba(255, 231, 81, 0.4);
    transform: translateY(-50%);
}

.upload-effect__level-pin {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 18px;
    height: 18px;
    margin: 0;
    margin-top: -9px;
    background: #ffe753;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: move;
}

.upload-effect__level-val {
    position: absolute;
    width: 20%;
    height: 100%;
    background: #ffe753;
}

.upload-effect__preview {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    overflow: hidden;
    background: url('../img/upload-default-image.jpg') no-repeat center;
    background-size: 100% auto;
    border: solid 4px transparent;
    border-radius: 5px;
}

.upload-effect__preview--chrome {
    filter: grayscale(1);
}

.upload-effect__preview--sepia {
    filter: sepia(1);
}

.upload-effect__preview--marvin {
    filter: invert(100%);
}

.upload-effect__preview--phobos {
    filter: blur(5px);
}

.upload-effect__preview--heat {
    filter: brightness(3);
}

.upload-form__hashtags {
    display: block;
    width: 470px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 8px 10px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    color: #9a9a9a;
    border-radius: 5px;
}

.upload-form__hashtags:focus {
    color: #000000;
}

.upload-form__description {
    display: block;
    width: 470px;
    height: 4em;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px 10px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #9a9a9a;
    border-radius: 5px;
}

.upload-form__description:focus {
    color: #000000;
}

.upload-form__submit {
    padding: 0 20px;
    margin-bottom: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #ffe753;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 46px;
    text-align: center;
    background: rgba(255, 231, 82, 0.2);
    border: 0;
    border-radius: 4px;
}

.upload-form__submit:active {
    transform: translateY(1px);
}

.upload-form__submit:disabled,
.upload-form__submit--disabled {
    opacity: 0.3;
}

.upload-form__cancel {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    padding: 0;
    border: 0;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2) url("../img/icon-cross.png") no-repeat center;
}

.upload-form__cancel:active {
    transform: translateY(1px);
}

.upload-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 20px;
    font-weight: 500;
    line-height: 569px;
    text-align: center;
    color: #ffe753;
    background: #3c3614;
}

.upload-message--error {
    color: #e16567;
    border: solid 5px rgb(130, 30, 0);
}

.upload-message__link {
    color: #ffe753;
}

.upload-message--error .upload-message__link {
    color: #e16567;
}

.upload-message__container {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

.pictures {
    padding-bottom: 120px;
    padding-left: 12px;
    font-size: 0;
    text-align: left;
}

.pictures--loading::after,
.pictures--failure::after {
    position: absolute;
    top: 260px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.pictures--loading::after {
    content: "Загрузка...";
}

.pictures--failure::after {
    content: "Ошибка загрузки";
}

.footer {
    position: absolute;
    right: 10px;
    bottom: 0;
    left: 10px;
    height: 115px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    border-top: solid 1px #cccccc;
}

.footer__wrapper {
    display: flex;
    width: 100%;
}

.footer-logo {
    position: relative;
    flex-basis: 50%;
    width: 50%;
    padding-top: 55px;
}

.footer__link {
    color: #ffffff;
}

.footer-logo__link:hover {
    opacity: 0.6;
}

.footer-logo__image {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-social {
    flex-basis: 50%;
    width: 50%;
    text-align: right;
}

.footer-social__item {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    overflow: hidden;
    list-style: none;
    font-size: 0;
    vertical-align: top;
    text-indent: -1999em;
    background: url("../img/social-sprite.png") no-repeat;
    opacity: 0.6;
}

.footer-social__item:hover {
    opacity: 1;
}

.footer-social__item--instagram {
    background-position: -28px 0;
}

.footer-social__item--facebook {
    background-position: -56px 0;
}

.footer-social__item--vk {
    background-position: -84px 0;
}

.gallery-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

.gallery-overlay__close {
    position: absolute;
    top: -5px;
    right: 0;
    padding: 0 10px;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.gallery-overlay__preview {
    display: inline-block;
    margin: 30px 0;
    background: #ffffff;
}

.gallery-overlay__image[src=""] {
    display: block;
    width: 640px;
    height: 640px;
    border: dotted 1px #dddddd;
    cursor: pointer;
}

.gallery-overlay__controls {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.gallery-overlay__control {
    padding: 0 20px;
    line-height: 40px;
}

.gallery-overlay__control--like {
    float: right;
    width: 150px;
    text-align: right;
}

.gallery-overlay__control--comments {
    margin-right: 150px;
    text-align: left;
}

.gallery-overlay__likes-count {
    cursor: pointer;
}

.gallery-overlay__likes-count::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("../img/icon-heart-sprite.gif") no-repeat 0 0;
    cursor: pointer;
}

.gallery-overlay__likes-count--liked::before {
    background-position-x: -18px;
}

.picture {
    display: inline-block;
    position: relative;
    width: 182px;
    height: 182px;
    margin-right: 11px;
    margin-bottom: 14px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.picture--load-failure {
    line-height: 182px;
    background: url("../img/icon-cross.png") no-repeat center;
    border: solid 1px rgba(255, 255, 255, 0.2);
    opacity: 0.3;
}

.picture__image {
    height: 182px;
    margin-bottom: -34px;
    border: 0;
}

.picture--load-failure .picture__image {
    display: none;
    width: 182px;
    height: 182px;
}

.picture__stats {
    display: none;
    padding: 0 10px;
    line-height: 24px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.picture:hover .picture__stats {
    display: inline-block;
}

.picture--load-failure .picture__stats {
    position: relative;
    top: -12px;
    line-height: 1.3;
    vertical-align: bottom;
}

.picture__stats-item {
    position: relative;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.picture__stats-item::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0 2px;
    vertical-align: middle;
    background: url("../img/image-icons-sprite.png") no-repeat 0 0;
}

.picture__stats-item--comments::before {
    width: 20px;
    height: 16px;
    background-position: 0 0;
}

.picture__stats-item--likes::before {
    width: 19px;
    height: 15px;
    background-position: -21px 0;
}

@media (min-width: 1380px) {
    .container {
        width: 1380px;
    }

    .picture:nth-of-type(2n-1):nth-of-type(-n+6) {
        margin-right: 12px;
    }

    .picture:nth-of-type(2),
    .picture:nth-of-type(6),
    .picture:nth-of-type(10) {
        margin-right: 600px;
    }
}

@media (min-width: 1000px) and (max-width: 1379px) {

    .picture:nth-child(1),
    .picture:nth-child(3),
    .picture:nth-child(5) {
        margin-right: 600px;
    }

    .picture:nth-child(2),
    .picture:nth-child(4),
    .picture:nth-child(6) {
        margin-left: 11px;
    }

    .picture:nth-child(2),
    .picture:nth-child(4),
    .picture:nth-child(6),
    .picture:nth-child(11),
    .picture:nth-child(16),
    .picture:nth-child(21) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 999px) {

    .picture:nth-child(1),
    .picture:nth-child(2),
    .picture:nth-child(3) {
        margin-right: 600px;
    }
}